.login-box{
    width: 570px;
    height: 257px;
    border: 1px solid #ABABAB;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 50px;
    padding: 80px;
    box-shadow: 5px 5px 20px lightgrey;
}